<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminDAO">

<select id="MemberSelectAll" resultType="com.project.dto.MemberDTO">
    select * from member
</select>

<select id="MemberSelectIdAll" resultType="com.project.dto.MemberDTO">
    select * from member where member_id=#{member_id}
</select>

<!--게시글의 총 갯수를 뽑아오는 쿼리 -->
<select id="MemberCount" resultType="Integer">
 select count(*) as membercount from member
</select>

<!--게시글의 총 갯수(검색 결과)를 뽑아오는 쿼리
(like를 사용할 때는 주의합시다! 해결방법이 오라클이랑 mysql이랑 다름)-->
<select id="SelectMemberCount" resultType="Integer">
	select count(*) as memberidcount
	from member
	where member_id like '%'||#{keyword}||'%'
</select>

<!-- <![CDATA[<]]>-->
<!--페이지의 어떤 번호를 클릭시 해당 페이지의 글 10개를 보여주는 함수입니다.-->
<select id="PageMemberselect" resultType="com.project.dto.MemberDTO">
select X.rnum, X.member_id, X.member_pw, X.member_name, X.member_birth, X.member_gender, X.member_phone , X.member_postcode , X.member_address1 , X.member_address2 , X.member_imgpath , X.member_intro , X.member_confirm , X.member_blackcheck
from( 
  select rownum as rnum, A.member_id, A.member_pw, A.member_name, A.member_birth, A.member_gender, A.member_phone , A.member_postcode , A.member_address1 , A.member_address2 , A.member_imgpath , A.member_intro , A.member_confirm , A.member_blackcheck
   from(
        select *
        from member
        order by member_id desc) A
  where rownum <![CDATA[<]]>= #{endCount}) X
where X.rnum >= #{startCount}
</select>

<!--페이지의 어떤 번호를 클릭시 해당 페이지의 글 10개를 보여주는 함수입니다.-->
<select id="PageMemberIdselect" resultType="com.project.dto.MemberDTO">
select X.rnum, X.member_id, X.member_pw, X.member_name, X.member_birth, X.member_gender, X.member_phone , X.member_postcode , X.member_address1 , X.member_address2 , X.member_imgpath , X.member_intro , X.member_confirm , X.member_blackcheck
from( 
  select rownum as rnum, A.member_id, A.member_pw, A.member_name, A.member_birth, A.member_gender, A.member_phone , A.member_postcode , A.member_address1 , A.member_address2 , A.member_imgpath , A.member_intro , A.member_confirm , A.member_blackcheck
   from(
        select *
        from member
        where member_id like '%'||#{keyWord}||'%'
        order by member_id desc) A
  where rownum <![CDATA[<]]>= #{endCount}) X
where X.rnum >= #{startCount}
</select>

<!--관리자가 선택한 id를 블랙리스트로 지정시키는 쿼리문-->
<update id="BlackListUpdate">
update member set member_blackcheck='y' where member_id=#{member_id} 
</update>


<!--관리자가 선택한 id를 블랙리스트를 해제시키는 쿼리문-->
<update id="BlackListCancel">
update member set member_blackcheck='n' where member_id=#{member_id} 
</update>


</mapper>