<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="login" resultType="Integer">
		select count(*) from member where member_id=#{member_id} and member_pw=#{member_pw}
	</select>

	<insert id="insert">
		insert into member values(#{member_id},#{member_pw},#{member_name},#{member_birth},#{member_gender},#{member_postcode},#{member_address1},#{member_address2},#{member_phone},default)
	</insert>
	
	<select id="selectById" resultType="com.project.dto.MemberDTO">
	select * from member where member_id=#{member_id}
	</select>
	
	<update id="confirmId">
		update member set member_confirm='y' where member_id=#{member_id}
	</update>
	
	<select id="checkConfirm" resultType="String">
		select member_confirm from member where member_id=#{member_id}
	</select>
</mapper>