<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ShopBoardDAO">

	<select id="boardList" resultType="com.project.dto.ShopBoardDTO">
		select * from (select
		shop_seq,shop_id,shop_title,shop_contents,
		shop_writedate,
		shop_location, shop_expiration, shop_price,
		shop_quantity,
		shop_imagepath1, shop_imagepath2, shop_imagepath3,
		rank() over(order by
		shop_seq desc) rank from shopboard ) where rank
		between #{lastPage}-11
		and #{lastPage}
	</select>
	<select id="totalCount" resultType="Integer">
		select count(*) from
		shopboard
	</select>




	<insert id="ShopBoardInsert">
		insert into shopboard
		values(#{MemberSell_seq},SHOP_SEQ.NEXTVAL,#{shop_id},#{shop_brand},#{shop_title},#{shop_contents},default,#{shop_location},#{shop_expiration},#{shop_price},#{shop_quantity},#{shop_imagepath1},#{shop_imagepath2},#{shop_imagepath3})
	</insert>


	<select id="ShopBoardSelect"
		resultType="com.project.dto.ShopBoardDTO">
		select * from shopboard
	</select>



	<select id="ShopBoardIdSelect"
		resultType="com.project.dto.ShopBoardDTO">
		select * from shopboard where shop_seq=#{value}
	</select>

	<select id="shopSellerSelect"
		resultType="com.project.dto.MemberDTO">
		select * from member where memberSell_seq =
		#{memberSell_seq}
	</select>
</mapper>